

Header {
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Urbanist', sans-serif;
  position: static;
  background-color: #045201;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

Header p {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

Header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

Header h1 {
  color: #fff;
  text-align: center;
  font-size: 48px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

Header .slogan {
  color: #fff;
  font-size: 24px;
  margin-top: 10px;
}

  

