
nav {
   display: flex;
  justify-content: space-around;
  background-color: #085e00a1;
  padding: 20px;

  
}

nav h2 {

  color: #fff;
  margin: 0;
  padding: 20px;
  display:inline;
  font-size: 60px;
}

nav h2:hover {
  color: rgb(0, 46, 4);
  background-color: #9adf7e;
}
